body {
  background: #12181e;
  color: #fff;
  line-height: 1.5;
  padding-top: 2rem;

  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Pixelify Sans", sans-serif; */
  font-optical-sizing: auto;
}



h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1;
}


.header {
  font-family: "Silkscreen", sans-serif !important;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

footer {
  /* Fix footer to down */
  background-color: #232323;
  text-align: center;
  height: 10rem;
  bottom: 0;
}

footer img {
  object-fit: fill;
  height: auto;
  opacity: 1;
}



h2 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1;
}



p {
  text-align: center;
  margin-bottom: 2rem;
}

.container_navbar {
  font-family: "Silkscreen", sans-serif !important;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  gap: 2rem;
}
.navbar {
  justify-content: space-around;
  display: flex;
  height: 2.5rem;
  align-items: center;
  margin-bottom: 2rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.navbar a {
  border: #32c146 2px solid;
  color: #32c146;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.caption {
  color: #f6b73e;
  font-size: 2.7rem;
  text-align: center;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1;
}

.container_hero {
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

.container_hero h4 {
  text-align: left;
  border-left: 2px dashed #32c146;
  font-weight: 100;
  font-size: 1.5rem;
  max-width: 40%;
  padding: 0.7rem;
}

.container_hero img {
  width: 300px;
  height: auto;
  margin: 0 0.5rem;
}

.container_projects {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
  justify-content: center;
}


.project_item {
  border-top: #32c146 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.project_item .button {
  font-family: "Silkscreen", sans-serif !important;
  border-bottom: #32c146 2px solid;
  text-transform: uppercase;
  background: #232323;
  padding: 0.5rem 1rem;
  color: #f6b73e;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}


.project_item img {
  width: 80px;
  height: auto;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.project h4 {
  color: hsl(0, 0%, 100%);
  text-align: center;
}

/* Hover effects for a navigation */
.navbar a:hover {
  background-color: #32c146;
  color: #fff;
}

.container_info {
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

.container_info h4 {
  text-align: right;
  border-right: 2px dashed #32c146;
  font-weight: 100;
  font-size: 1.5rem;
  max-width: 40%;
  padding: 0.7rem;
}

.container_info img {
  width: 300px;
  height: auto;
  margin: 0 0.5rem;
}

/* Media queries, display */
@media (max-width: 1440px){

}


@media (max-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  
  
  h1 {
    font-size: calc(3vw + 2.5vh + 2vmin);
    text-overflow: ellipsis;
    text-align: center;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: calc(1.3vw + 1.3vh + 2vmin);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1;
  }


  .navbar {
    padding-top: 4rem;
    justify-content: space-evenly;
    overflow-x: scroll;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .navbar a {
    font-size: calc(1.3vw + 1.3vh + 2vmin);
    margin-left: 3px;
    margin-right: 3px;
    padding: 0.5rem 1.2rem;
  }

  .container_hero {
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .container_hero h4 {
    font-size: calc(1.3vw + 1.3vh + 2vmin);
    text-align: center;
    border-left: none;
    font-weight: auto;
    max-width: 99%;
    padding: 1.2rem;
    padding-bottom: 3rem;
  }

  .container_hero img {
    width: calc(20vw + 15vh + 2vmin);
    height: auto;
  }

  .container_info {
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .container_info h4 {
    font-size: calc(1.3vw + 1.3vh + 2vmin);
    text-align: center;
    border-right: none;
    border-bottom: #32c146 2px dashed;
    font-weight: auto;
    max-width: 99%;
    padding: 1.2rem;
    padding-bottom: 3rem;
  }

  .container_info img {
    width: calc(20vw + 15vh + 2vmin);
    height: auto;
  }

  .project_item {
    border: none;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    font-size: inherit;
  }
  .container_projects {
    border-bottom: #32c146 2px dashed;
    border-top: #32c146 2px dashed;
    font-size: calc(1.3vw + 1.3vh + 2vmin);
    flex-direction: column;
  }
  .project_item .button {
    border-bottom: none;
    border-top: #32c146 2px solid;
    text-transform: uppercase;
    background: #232323;
    padding: 0.5rem 1rem;
    color: #f6b73e;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
  }
  .project_item img {
    width: calc(2vw + 5vh + 2vmin);
    height: auto;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
  }
}
